body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
    margin: 1rem 0;
}

.products {
    border: 1px solid #ccc;
    padding: 1rem;
    position: fixed;
    right:3.5rem;
    width: 30%;
}

.image img {
    height: 190px !important;
}

.loader-override {
    text-align: center;
}

.navbar {
    background: transparent !important;
}
